.quiz-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.nav-header {
  background-color: #52B9BC;
  width: 100%;
  padding: 18px 0 19px;
}

.logo {
  aspect-ratio: 6.1;
  width: 605px;
  align-self: center;
  max-width: 100%;
}

.nav-menu {
  background-color: #65D7DA;
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px 0 -6px;
  padding: 0 32px 0 80px;
}

.nav-links {
  align-self: end;
  display: flex;
  margin-top: 25px;
  gap: 40px 52px;
  color: #EFF1EE;
  font: 600 16px Montserrat, sans-serif;
}

.nav-dropdown {
  display: flex;
  flex-direction: column;
}

.dropdown-indicator {
  aspect-ratio: 18.87;
  width: 95px;
  margin-top: 4px;
}

.nav-icons {
  display: flex;
  margin: auto 0;
}

.quiz-title-container {
  border-radius: 10px;
  align-self: center;
  display: flex;
  margin-top: 19px;
  width: 632px;
  max-width: 100%;
  flex-direction: column;
  color: #EFF1EE;
  justify-content: center;
  padding: 6px;
  font: 600 40px Montserrat, sans-serif;
  border: 1px solid #000;
}

.quiz-title {
  border-radius: 10px;
  background-color: #52B9BC;
  padding: 9px 63px;
}

.quiz-content {
  background-color: rgba(217, 217, 217, 0.11);
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  align-self: center;
  width: 753px;
  max-width: 100%;
  color: #000;
  margin: 33px 0 0 24px;
  padding: 20px 80px 37px;
  font: 400 16px Poppins, sans-serif;
  border: 5px solid #000;
}

.flavor-options-container {
  align-self: center;
  width: 449px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-text {
  font-size: 24px;
  align-self: stretch;
}

.flavor-row {
  display: flex;
  margin-top: 13px;
  width: 401px;
  max-width: 100%;
  gap: 40px 61px;
}

.flavor-option {
  border-radius: 10px;
  background-color: #65D7DA;
  border-color: #000;
  border-bottom-width: 3px;
  border-left-width: 2px;
  display: flex;
  gap: 18px;
  padding: 10px 15px;
}

.checkbox-container {
  display: flex;
  gap: 7px;
}

.checkbox {
  border-radius: 10px;
  background-color: #F5F5F5;
  width: 44px;
  height: 39px;
}

.flavor-icon {
  aspect-ratio: 1;
  width: 24px;
  margin: auto 0;
}

.next-button {
  border-radius: 50px;
  background-color: #ECA72C;
  align-self: center;
  margin-top: 39px;
  width: 200px;
  max-width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 20px 70px;
}

.footer {
  background-color: #52B9BC;
  width: 100%;
  margin-top: 88px;
  padding: 79px 80px;
}

.footer-content {
  width: 100%;
  max-width: 929px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-section {
  align-self: stretch;
  display: flex;
  gap: 23px;
  flex-wrap: wrap;
}

.subscribe-text {
  flex-grow: 1;
  margin: auto 0;
  font: 600 24px Montserrat, sans-serif;
}

.email-input {
  border-radius: 100px;
  background-color: #D9D9D9;
  flex-grow: 1;
  width: fit-content;
  padding: 9px 28px 25px;
  font: 300 20px Poppins, sans-serif;
}

.footer-links {
  display: flex;
  width: 761px;
  max-width: 100%;
  gap: 40px 43px;
  margin: 50px 0 0 25px;
  font: 275 24px Poppins, sans-serif;
}

.footer-logo {
  aspect-ratio: 6.02;
  width: 410px;
  margin-top: 34px;
  max-width: 100%;
}

.footer-image {
  aspect-ratio: 3.51;
  width: 260px;
  max-width: 100%;
  margin: 47px 0 0 29px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@media (max-width: 991px) {
  .nav-header,
  .nav-menu,
  .quiz-title,
  .quiz-content,
  .footer {
    max-width: 100%;
    padding: 0 20px;
  }
  
  .dropdown-indicator,
  .flavor-option {
    margin-right: 10px;
  }
  
  .next-button {
    padding: 0 20px;
  }
  
  .footer {
    margin-top: 40px;
  }
  
  .footer-image {
    margin-top: 40px;
  }
}