.countries-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
  }
  
  .header-section {
    background-color: #52B9BC;
    align-self: stretch;
    display: flex;
    width: 100%;
    padding: 18px 0 0;
    flex-direction: column;
  }
  
  .logo {
    aspect-ratio: 6.1;
    object-fit: contain;
    width: 605px;
    align-self: center;
    max-width: 100%;
  }
  
  .nav-container {
    background-color: #65D7DA;
    z-index: 10;
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0 -6px;
    padding: 0 32px 0 80px;
  }
  
  .nav-links {
    align-self: end;
    display: flex;
    margin-top: 25px;
    gap: 40px 50px;
    color: #EFF1EE;
    font: 600 16px Montserrat, sans-serif;
  }
  
  .nav-dropdown {
    display: flex;
    flex-direction: column;
  }
  
  .dropdown-icon {
    aspect-ratio: 15.87;
    object-fit: contain;
    width: 80px;
    margin-top: 4px;
  }
  
  .nav-icons {
    display: flex;
    margin: auto 0;
  }
  
  .social-icon {
    aspect-ratio: 0.7;
    object-fit: contain;
    width: 67px;
  }
  
  .cart-icon {
    aspect-ratio: 0.97;
    object-fit: contain;
    width: 60px;
    margin: auto 0;
  }
  
  .featured-section {
    width: 100%;
    max-width: 1105px;
    margin: 45px 0 0 26px;
  }
  
  .featured-content {
    gap: 20px;
    display: flex;
  }
  
  .featured-text {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 35%;
  }
  
  .featured-description {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    font-family: Montserrat, sans-serif;
    color: #000;
    text-align: center;
    margin: auto 0;
  }
  
  .featured-title {
    font-size: 60px;
    font-weight: 700;
    align-self: center;
  }
  
  .featured-paragraph {
    margin-top: 37px;
    font: 400 20px Poppins, sans-serif;
  }
  
  .cta-button {
    border-radius: 36px;
    background-color: #ECA72C;
    align-self: end;
    margin-top: 28px;
    font-size: 32px;
    font-weight: 600;
    padding: 17px 64px;
  }
  
  .featured-image {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 65%;
    margin-left: 20px;
  }
  
  .box-preview {
    border-radius: 30px;
    background-color: #52B9BC;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #000;
    text-align: center;
    width: 100%;
    padding: 29px 68px 57px;
    font: 600 40px Montserrat, sans-serif;
  }
  
  .box-image {
    aspect-ratio: 1.03;
    object-fit: contain;
    width: 100%;
    border-radius: 10px;
    margin-top: 40px;
  }
  
  .section-title {
    color: #000;
    text-align: center;
    margin-top: 80px;
    font: 600 48px Montserrat, sans-serif;
  }
  
  .map-image {
    aspect-ratio: 2.17;
    object-fit: contain;
    width: 100%;
    align-self: stretch;
    margin-top: 39px;
  }
  
  .boxes-grid {
    margin-top: 75px;
    width: 100%;
    max-width: 1127px;
  }
  
  .boxes-container {
    gap: 20px;
    display: flex;
  }
  
  .box-card {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
  }
  
  .box-content {
    border-radius: 10px;
    background-color: #ECA72C;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat, sans-serif;
    color: #000;
    text-align: center;
    width: 100%;
    padding: 13px 21px 23px;
  }
  
  .box-title {
    font-size: 32px;
    font-weight: 500;
  }
  
  .box-preview-image {
    aspect-ratio: 0.98;
    object-fit: contain;
    width: 100%;
    border-radius: 10px;
    align-self: stretch;
    margin-top: 22px;
  }
  
  .box-description {
    margin-top: 15px;
    font: 400 16px Poppins, sans-serif;
  }
  
  .box-button {
    border-radius: 16px;
    background-color: #52B9BC;
    margin-top: 27px;
    width: 136px;
    max-width: 100%;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 27px;
  }
  
  .footer {
    background-color: #52B9BC;
    align-self: stretch;
    display: flex;
    margin-top: 41px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: #000;
    justify-content: center;
    padding: 79px 80px;
  }
  
  .footer-content {
    display: flex;
    width: 100%;
    max-width: 929px;
    flex-direction: column;
    align-items: center;
  }
  
  .subscribe-section {
    align-self: stretch;
    display: flex;
    gap: 23px;
    flex-wrap: wrap;
  }
  
  .subscribe-text {
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 600 24px Montserrat, sans-serif;
  }
  
  .email-input {
    border-radius: 100px;
    background-color: #D9D9D9;
    flex-grow: 1;
    width: fit-content;
    padding: 9px 28px;
    font: 300 20px Poppins, sans-serif;
  }
  
  .footer-links {
    display: flex;
    width: 761px;
    max-width: 100%;
    gap: 40px 43px;
    margin: 50px 0 0 25px;
    font: 275 24px Poppins, sans-serif;
  }
  
  .footer-logo {
    aspect-ratio: 6.02;
    object-fit: contain;
    width: 410px;
    margin-top: 34px;
    max-width: 100%;
  }
  
  .footer-image {
    aspect-ratio: 3.51;
    object-fit: contain;
    width: 260px;
    max-width: 100%;
    margin: 47px 0 0 29px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  
  @media (max-width: 991px) {
    .header-section,
    .nav-container,
    .featured-section,
    .box-preview,
    .boxes-grid,
    .footer {
      max-width: 100%;
    }
  
    .nav-container {
      padding: 0 20px;
    }
  
    .nav-dropdown {
      white-space: initial;
    }
  
    .featured-content,
    .boxes-container {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .featured-text,
    .featured-image,
    .box-card {
      width: 100%;
      margin-left: 0;
    }
  
    .featured-description,
    .box-preview,
    .box-content {
      margin-top: 40px;
      padding: 0 20px;
    }
  
    .featured-title {
      font-size: 40px;
    }
  
    .cta-button,
    .box-button {
      padding: 0 20px;
    }
  
    .section-title {
      margin-top: 40px;
      font-size: 40px;
    }
  
    .footer {
      margin-top: 40px;
      padding: 0 20px;
    }
  
    .footer-links {
      margin-top: 40px;
    }
  
    .footer-image {
      margin-top: 40px;
    }
  }